*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-main);
    font-size: var(--text-md);
    font-weight: var(--font-normal);
    font-family: var(--font-main);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-weight: var(--font-normal);
    font-family: var(--font-heading);
    letter-spacing: var(--tracking-heading);
}

p {
    overflow-wrap: break-word;
    line-height: var(--leading-paragraph);
    letter-spacing: var(--tracking-paragraph);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: var(--tracking-button);
    font-weight: var(--font-bold);
    font-size: var(--text-sm);
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    flex-shrink: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

@supports selector(:focus-visible) {
    a:focus,
    button:focus {
        outline: none;
    }

    a:focus-visible,
    button:focus-visible {
        outline: 3px dashed currentcolor;
        outline-offset: 3px;
    }
}
