.nav {
    width: 100%;
    z-index: 999;
    background-color: var(--color-white);

    &__container {
        height: 5rem;
        margin-inline: auto;
        width: min(100vw - calc(var(--container-padding-x) * 2), var(--container-max-width));
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 1.125rem;
        object-fit: contain;
        margin-left: 0.125rem;
    }

    &__menu-btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0.1875rem;

        &--line {
            display: block;
            width: 1rem;
            height: 0.125rem;
            background-color: currentcolor;
            transition: transform 300ms ease;
        }

        @media (--tablet) {
            display: none;
        }
    }

    &__list {
        position: absolute;
        z-index: 999;
        inset: 5rem 0 0;
        height: calc(100vh - 5rem);
        display: none;
        gap: 2rem;
        text-transform: uppercase;
        align-items: center;
        font-size: var(--text-xl);
        font-weight: var(--font-bold);
        letter-spacing: var(--tracking-nav-link);
        background-color: var(--color-violet-500);
        padding-inline: var(--container-padding-x);
        padding-block: 3.125rem 0;
        align-content: start;
        text-align: center;
        background-image: url("../../assets/images/bg-pattern-mobile-nav.svg");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__item {
        height: fit-content;
    }

    &__link {
        margin-inline: auto;
        color: var(--color-gray-100);
        transition: color 200ms ease;
        display: block;
        width: fit-content;

        --button-border: var(--color-white);
        --button-border-hover: var(--color-white);
    }

    @media (--tablet) {
        &__list {
            padding: 0;
            background-image: none;
            background-color: initial;
            position: initial;
            display: flex;
            gap: 1.5rem;
            font-size: var(--text-sm);
        }

        &__item {
            &:last-child {
                margin-inline-start: 0.5rem;
            }
        }

        &__link {
            width: initial;
            color: var(--color-gray-500);

            &:hover {
                color: var(--color-violet-700);
            }

            --button-foreground: var(--color-violet-700);
            --button-border: var(--color-violet-500);
            --button-border-hover: var(--color-violet-500);
        }
    }

    &__menu-btn[aria-expanded="true"] + &__list {
        display: grid;
    }
}

.mobile-menu {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    inset: 5rem 0 0;
    background-color: var(--color-violet-700);
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
    padding-top: 3.125rem;
    padding-inline: var(--container-padding-x);

    &__pattern {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 16rem;
        object-fit: cover;
        object-position: top;
    }
}

.menu__link__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    margin-bottom: 2.125rem;
}

.menu__wrapper.shown {
    display: initial;
}

.menu__wrapper.shown + .nav .nav__menu__button span {
    margin: 0;
}

.menu__wrapper.shown + .nav .nav__menu__button span:nth-child(1) {
    margin-bottom: -2px;
    transform: rotate(-45deg);
}

.menu__wrapper.shown + .nav .nav__menu__button span:nth-child(2) {
    display: none;
}

.menu__wrapper.shown + .nav .nav__menu__button span:nth-child(3) {
    transform: rotate(45deg);
}
